@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


input[type='expandSearch']{
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: width 0.3s ease-in-out;
  }
  
  input[type=expandSearch]:focus {
    width: 600px;
  }

  input[type='timeFrameSearch']{
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-top: 15px;
    transition: width 0.3s ease-in-out;
  }

  .ag-theme-alpine.ag-custom-class {
    --ag-foreground-color: rgb(255, 255, 255);  
    --ag-background-color: #28231c;
    --ag-header-background-color: #494949;
    --ag-odd-row-background-color: #070707;
    --ag-header-column-resize-handle-color: rgb(244, 239, 239);
    --ag-font-size: 14px;
    --ag-font-family: 'Open Sans', sans-serif;
  }
  

  .ag-theme-alpine .ag-header-cell {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  .ag-theme-alpine .ag-header-cell-label {
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

  }
  .ag-row .ag-cell {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
  }