@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  text-align: center;
  background-color: black;
}

.navigator{
  display: flex;
  background-color: black;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navi{
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  justify-content:center;
}

.title{
  color:white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.active{
  background-color: #546A7B;
}

